title: Quantitative Economics with Julia
author: Jesse Perla & Thomas J. Sargent & John Stachurski
logo: _static/qe-logo-large.png
description: This website presents a set of lectures on quantitative economic modeling, designed and written by Jesse Perla, Thomas J. Sargent and John Stachurski. The language instruction is Julia.

execute:
  execute_notebooks: "cache"
  timeout: 600

bibtex_bibfiles:
   - _static/quant-econ.bib

html:
  baseurl: https://julia.quantecon.org/

latex:
   latex_documents:
      targetname: quantecon-julia.tex

sphinx:
  extra_extensions: [sphinx_multitoc_numbering, sphinxext.rediraffe, sphinx_tojupyter, sphinxcontrib.inkscapeconverter]
  config:
    nb_render_priority:
      html:
      - "application/vnd.jupyter.widget-view+json"
      - "application/javascript"
      - "text/html"
      - "text/latex"
      - "image/svg+xml"
      - "image/png"
      - "image/jpeg"
      - "text/markdown"
      - "text/plain"
      jupyter:
      - "application/vnd.jupyter.widget-view+json"
      - "application/javascript"
      - "text/html"
      - "text/latex"
      - "image/svg+xml"
      - "image/png"
      - "image/jpeg"
      - "text/markdown"
      - "text/plain"
    highlight_language: julia
    html_favicon: _static/lectures-favicon.ico
    html_theme: quantecon_book_theme
    html_static_path: ['_static']
    html_theme_options:
      header_organisation_url: https://quantecon.org
      header_organisation: QuantEcon
      repository_url: https://github.com/QuantEcon/lecture-julia.myst
      repository_branch: main
      nb_repository_url: https://github.com/QuantEcon/lecture-julia.notebooks
      nb_branch: main
      twitter: quantecon
      twitter_logo_url: https://assets.quantecon.org/img/qe-twitter-logo.png
      og_logo_url: https://assets.quantecon.org/img/qe-og-logo.png
      description: This website presents a set of lectures on quantitative economic modeling, designed and written by Jesse Perla, Thomas J. Sargent and John Stachurski. The language instruction is Julia.
      keywords: Julia, QuantEcon, Quantitative Economics, Economics, Sloan, Alfred P. Sloan Foundation, Tom J. Sargent, John Stachurski
      google_analytics_id: UA-54984338-8
    mathjax3_config:
      tex:
        macros:
          "argmax" : "arg\\,max"
          "argmin" : "arg\\,min"
    mathjax_path: https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js
    rediraffe_redirects:
      index_toc.md: intro.md
    tojupyter_default_lang: julia
    tojupyter_lang_synonyms: ['julia-1.8']
    tojupyter_static_file_path: ["source/_static", "_static"]
    tojupyter_target_html: true
    tojupyter_urlpath: "https://julia.quantecon.org/"
    tojupyter_image_urlpath: "https://julia.quantecon.org/_static/"
    tojupyter_kernels:
      julia:
        kernelspec:
          display_name: Julia
          language: julia
          name: julia-1.8
    tojupyter_images_markdown: true
